.*{
    	padding: 0px;
	    margin: 0px;
}
a{
	text-decoration: none;
	color: black;
}
body{
	font-family: sans-serif;

}
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box{
    width: 75px;
    height: 75px;
    background-color: grey;
    /*border: 1px solid black;*/
    margin: 25px ;
    border-radius: 10%;
    animation: box 600ms infinite linear;
    margin-bottom: 10px;

}
.shadow{
    width: 100px;
    height: 10px;
    background: black;
    margin-top: auto;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
    opacity: 0.1;
}
@keyframes shadow{
    0%{
        transform:scale(1, 1);
    }
    50%{
        transform:scale(1.2, 1);
    }
    100%{
        transform:scale(1, 1);
    }
}
.box animation{
    transform: rotate(0deg);
}
@keyframes box{
    17%{
        border-bottom-right-radius: 3px
        transform: rotate(0);
    }
    25%{
       transform:translateY(9px) rotate(22.5deg);
    }    
    50%{
        transform: translateY(9px) rotate(22.5deg);
        border-bottom-right-radius:40px;
    }
    75%{
        transform: translateY(9px) rotate(67.5deg)
    }
    100%{
        transform: translateY(0) rotate(90deg)
    }
}