.*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: black;
}
body{
	background: black;
	font-family: sans-serif;
}
.main{
	width: 100%;
	display: flex;
	justify-content: center;
}
ul.solarsystem{
	height: 500px;
	width: 500px;
	list-style: none;
	position: relative;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 2s;
}
ul.solarsystem li.sun{
	width: 50px;
	height: 50px;
	background: yellow;
	border-radius: 50%;
	
}
ul .solarsystem li span{
	position: absolute;
	display: block;
}
ul li span{
	text-indent: -999;
}