*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    max-width: 70%;
    margin:   40px auto ;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    height: 500px;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s
}
.buttons{
    text-align: center;
    margin-top: 10px;
}
.btn{
    font-size: 25px;
    padding: 10px;
} 