*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    box-shadow: 0px 2px 10px 0px gray;
}
  nav ul{
    display: flex;
    /* text-decoration: none; */
}
 nav ul li{
    padding: 15px 25px;
}
nav ul li a{
    color: black;
}
.barcode{
    display: none;
}