*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.main{
    width: 500px;
     background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.date{
    font-size: 25px;
    padding: 5px;
    margin-top: 15px;
    padding: 8px;
    margin: 20px;
}
.time{
    font-size: 25px;
    padding: 5px;
    margin-top: 15px;
    padding: 8px;
    margin: 20px;
}
.btn{
    font-size: 25px;
    padding: 5px;
    margin-top: 15px;
    background-color: blue;
    color: #f0f0f0;
}
label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }

  input[type="text"] {
    padding: 8px;
    margin: 8px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }