.*{
	padding: 0px;
	margin: 0px;
}
a{
	color: black;
	text-decoration: none;
}
body{
	font-family: sans-serif;
}
.main{
	width: 100;
	height: 300;
	margin: auto;
	position: relative;
	

}
.main img{
	width: 325px;
	height: 325px;
}
.content{
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 0px;
	/*left: 450px;*/
	color: white;
	background: rgba(0, 0, 0, 0.5);
	width: 300px;
	height: 300px;
	box-shadow: border-box;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
	opacity: 0;
	visibility: hidden;
	/*transition: 2s;*/

}
.content button{
	background: black;
	color: white;
	padding: 10px 15px;
	border:0px;
	border-radius: 10px;
}
.main:hover .content{
	display: block;
	opacity: 2;
	visibility: visible;
	/*top: 0px;
	left: 0px;*/
}