.*{
	padding: 0px;
	margin: 0px;
}
a{
	color: black;
	text-decoration: none;
}
body{
	font-family: sans-serif;
}
.main{
	max-width: 1320;
	margin:auto;
	display: flex;
	flex-wrap: wrap;

}
.courses{
	flex-basis: 31%;
	margin: 1%;
	box-shadow: 0px 0px 2px 1px gray;
	border-radius: 15px;
	position: relative;
	overflow: hidden;

}
.course_images img{
	width: 100%;
	border-radius: 15px;
	height: 350px;
}
.course_content{
	padding: 15px;
	text-align: center;
	position: absolute;
	top: 300px;
	left: 450px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	box-shadow: border-box;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*display: none;*/
	/*opacity: 0;
	visibility: hidden;*/
	transition: 2s;
}
.course_content h2{

}
.course_content p{

}
.course_content button{
	background: black;
	color: white;
	padding: 10px 15px;
	border:0px;
	border-radius: 10px;
}
.courses:hover .course_content{
	/*display: block;*/
	/*opacity: 1;
	visibility: visible;*/
	top: 0px;
	left: 0px;
}