@charset "utf-8";

body {
	background-color:#EEEBE6;
    color: #575757;
    font-family: Calibri,Verdana,Arial;
    font-size: 13px;
    font-weight: normal;
	margin:0px;
	padding:0px;
}

#pagecenter{
	width:100%;
	float:left;	
}

#mainpage{
	width:1200px;
	height:inherit;
}

/* Header Style Start */

#header{
	float:left;
	width:100%;
	height:inherit;
}

.topStrip {
	height:32px;
	float:left;
	width:100%;
	background-image: url(../images/topBg.jpg);
    background-repeat: repeat-x;
}

.topBanner{
    background-image:url(../images/rajasthan-banner-orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #C4C4C3;
    border-right: 1px solid #C4C4C3;
	cursor: pointer;
    height: 32px;
	text-align:center;
}

.header_main{
    float: left;
    width: 1198px;
    height:120px;
    background-color:#FFFFFF;
	border-left: 1px solid #C4C4C3;
	border-right: 1px solid #C4C4C3;
}

.deptLogo{
	float:left;
	height:inherit;
	width:9%;
	text-align:left;
	margin-left:1%;
}

.deptLogo img{
	margin-top:20px;
	margin-left:10px;
}

.deptName{
	float:left;
	width:43%;
	text-align:left;
	margin-left:5px;
	margin-top:30px;
	font-size: 30px;
	color:#565656;
}

h5 {
    display: inline;
    margin: 0;
    padding: 0;
	color: #64462E;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
}

.headerRight{
	float:right;
	width:43%;
	text-align:right;
	margin-right:1.5%;
}

.subMenuRow{
	float:left;
	width:100%;
	height:20px;
	line-height:20px;
	text-align:right;
	margin-top:10px;
}

.subMenuRow a{
	font-size: 13px;
    font-weight: normal;
    text-decoration: none;
	color: #9C6539;
}

.subMenuRow a:hover{
	color: #575757;
}

.submenu_txt{
	float:left;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
	width:83%;
	height:20px;
	line-height:20px;
	text-align:right;
	color: #343434;
}

.submenu_txt a{
	font-size: 13px;
    font-weight: normal;
    text-decoration: none;
	color: #9C6539;
}

.submenu_txt a:hover{
	color: #575757;
}

.login_tab {
    float: right;
    width: 17%;
	margin-top:2px;
}

.headerRightLinks{
	float:right;
	width:100%;
	margin-top:15px;
}

.skipContent a{
	color:#9C6539;
	text-decoration:none;
}

.AdmissionBtn{
	float:right;
	width:150px;
	background-image:url(../images/addmissionBtnbg.png);
	height:25px;
	line-height:25px;
	border-radius:5px;
	color:#FFFFFF;
	text-align:center;
	margin-top:10px;
	margin-left:10px;
}

.AdmissionBtn>a{
	color:#FFFFFF;
	text-decoration:none;
}

.user_name {
    color: #575757;
    float: left;
    font-size: 13px;
	line-height:20px;
    font-weight: normal;
    margin-top: 50px;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

/* Header Style End */


/* Navigation Style Start */

.navbar{
	float:left;
	width:100%;
	height:46px;
	border-bottom:20px solid #EEEBE6;
}

.navbarLeft{
	float:left;
	width:20px;
	height:46px;	
	background-image:url(../images/button-bg-left.png);
    background-position: left top;
    background-repeat: no-repeat;
}

.navbarCenter{
	float:left;
	width:1160px;	
	height:46px;
	background-image:url(../images/button-bg-center.png);
    background-position: center top;
    background-repeat: repeat-x;
}

.navbarRight{
	float:right;
	width:20px;	
	height:46px;
	background-image:url(../images/button-bg-right.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.tabmenu{
	width:105%;
	float:left;
	margin:0 1% 0 1%;
	height:46px;
	line-height:46px;
}

.tabmenu ul {
    list-style: none outside none;	
	padding:0px;
	background: none;
	margin-top: -1px;		
}

.tabmenu ul li {
	display: block;
	width: inherit;
	height: inherit;
	float: none;
	border-bottom:dashed 1px #327C9C;
}

.tabmenu ul li a {
	text-decoration:none;	
    color: #FFFFFF;
    display:  block;
}



.tabmenu ul li a:hover {
	text-decoration:none;	
    color: #FFE6B7;
}

.tabmenu ul li a span {
   	display: block;
	/*padding: 7px 10px;
	text-shadow: 1px 1px #224E82;*/
	text-transform: uppercase;
}



.tabmenu>ul {
    list-style: none outside none;
	height:46px;
	line-height:46px;
	padding:0px;
}

.tabmenu>ul>li {
    display: inline-block;
    float: left;
    position: relative;
	border:none;
	height:46px;
	line-height:46px;
}

.tabmenu>ul>li>a {
    padding: 0 1px;	
	text-decoration:none;
	font-size: 14px;
/*	background: url("../images/separator.png") no-repeat scroll right center transparent;*/
    color: #FFFFFF;
    display: inline-block;
	height:46px;
	line-height:46px;
}

.tabmenu>ul>li>a>span {
    display: block;
    font-size: 12px;
    padding: 0 40px 0 40px;
    /*text-shadow: 1px 1px #224E82;*/
    text-transform: uppercase;
}

/*1st sub level menu*/
.tabmenu ul li ul{
    z-index:100000;
	display:none;
	width:235px;
}


.tabmenu ul li:hover ul{
	display:block;
	position: absolute;
	!important width:185px;

/*display: none;*/ /*collapse all sub menus to begin with*/
/*visibility: hidden;
top:0; margin:-35px 0 0 218px;
width:285px;
*/
background-image:none;
  height:auto; background:#f0f0f0;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.tabmenu ul li ul li{
    display: list-item;
    float:left;
    margin:0 ; 
    height:35px;
    line-height:35px;
    background:none;
}

/* Sub level menu links style */

.tabmenu ul li ul li a{
    color:#333333;
    text-decoration:none;
    text-transform:none;
    text-shadow:none;
    background-image:none;
    text-align: left;
    padding-left: 20px;
}

.tabmenu ul li ul li:hover{
    background:#DBDBDB;
}

.tabmenu ul li ul li a:hover{  color:#000000 ; text-shadow:none ; background-image:none;}
.tabmenu ul li ul li a.selected{  color:#333333 ; text-shadow:none ;  background-image:none; }

/* Navigation Style End */

/* Container Style Start */

#container{
	float:left;
	width:1160px;
	height:inherit;
	background-color:#FFFFFF;
	padding:20px;
	min-height:500px;
}

.container_left{
	float:left;
	width:1160px;
	height:inherit;
}

.containerLeft{
	float:left;
	width:800px;
	height:inherit;
}


.containerRight{
	float:left;
	width:350px;
	height:inherit;
	margin-left:10px;
}

.heading {
	width:100%;
	float:left;		
    color: #64462E;
    font-family: calibri,Arial,Verdana;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
	text-align:left;
	line-height:30px;
	background-image: url("../images/line.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
}

.sitemap_menu {
    float: right;
    line-height: 30px;
    text-align: right;
    width: 99%;
}

.sitemap_menu a {
    color: #9C6539;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.error_msg{
    float: right;
    line-height: 30px;
    text-align: right;
    width: 99%;
	color: #F00;
}

/* Form CSS Start */

/*.tbl_main {
    border: 1px solid #704F34;
    float: left;
    height: inherit;
    width: 958px;
}
*/

.heading2 {
    background-color: #704F34;
    float: left;
    line-height: 25px;
    text-align: left;
    width: 100%;
}

.heading2_txt {
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.containerBody {
    float: left;
    height: inherit;
    text-align: left;
    width: 100%;
}

.containerBody_Row {
    color: #3B3B3B;
    display: inline;
    float: left;
    line-height: 30px;
    text-decoration: none;
    width: 100%;
}

.containerBody_Row a{
    text-decoration: none;
	color: #9C6539;
    font-family: calibri,Arial,Verdana;
    font-size: 14px;
    font-weight:bold;
    text-decoration: none;
}


.containerBody_RowTab {
    color: #3B3B3B;
    float: left;
    line-height: 30px;
    text-decoration: none;
    width: 98%;
	margin-left:2%;
	font-weight:bold;
}

.containerBody_Rowblank {
    color: #2C90C1;
    display: inline;
    float: left;
    line-height: 12px;
    text-decoration: none;
    width: 100%;
}

.containerBody_LeftSection {
    color: #3B3B3B;
    display: inline;
    float: left;
    line-height: 30px;
    text-decoration: none;
    width: 70%;
}

.containerBody_RightSection {
    color: #3B3B3B;
    display: inline;
    float: left;
    line-height: 30px;
    text-decoration: none;
    width: 30%;
}

.container_RowrightSection {
    color: #565656;
    display: inline;
    float: left;
    line-height: 30px;
    margin-left: 12%;
    width: 41%;
	text-align:left;
}

.container_RowrightSection1 {
    color: #565656;
    float: left;
    line-height: 30px;
    margin-left: 25%;
    width: 28%;
	text-align:left;
}

.container_RowrightSection2 {
    color: #565656;
    float: left;
    line-height: 30px;
    margin-left:42px;
    width: 40%;
	text-align:left;
}

.containerBody_RowCheckbox {
    color: #3B3B3B;
    display: inline;
    float: left;
    line-height: 30px;
    text-decoration: none;
    width: 90%;
	margin-left:10%;
}


.containerBody_RowTbl{
	float:left;
	width:960px;
}

.containerBody_RowTbl tr{
	float:left;
	width:960px;
}

.containerBody_RowTbl td{
	float:left;
	width:480px;
}

.containerBody_Rowleft {
    color: #575757;
    display: inline;
    float: left;
    line-height: 30px;
    padding-left: 14%;
    text-align: left;
    width: 32%;
}

.containerBody_Rowright {
    color: #565656;
    display: inline;
    float: left;
    line-height: 30px;
    margin-left: 3%;
    width: 49%;
	text-align:left;
}

.star {
    color: #FF0000;
}

.txtbox{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 56%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtboxGet{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #FF0000;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 56%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtboxTblGet{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #FF0000;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.selectboxGet {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #FF0000;
    color: #565656;
    height: 22px;
    margin-top: 5px;
    width: 58%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.selectboxAuto {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #565656;
    height: 22px;
    margin-top: 5px;
    width: 17%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtbox_cal {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 50%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtboxMobile{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 49%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtboxSTDCode{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 15%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.txtboxPhone{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    margin-top: 5px;
    padding-left: 5px;
    width: 29%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.selectbox {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    color: #565656;
    height: 22px;
    margin-top: 5px;
    width: 58%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}



.checkbox{
	margin-top:8px;
}

textarea {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 3px #CCCCCC;
    margin-top: 4px;
    outline: medium none;
    padding: 8px 5px;
    width: 55%;
	font-size:13px;
	font-family: Calibri,Verdana,Arial;
	color: #575757;
}

.gridview{
    float: left;
    overflow: auto;
    width: 100%;
}

/* Grid view Start */

.grid {
        background-color:#FFFFFF;
        width: 100%;
		float:left;
		margin-top:10px;
}
.grid th {
		background:#E4E3E3;
        /*background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #FFFFFF;
}
.grid th a{
        color: #003300;
        text-decoration: none;
}
.grid th a:hover{
        color: #003300;
        text-decoration: underline;
}
.grid td  {
        color: #333333;
        padding: 4px;
		border:1px solid #FFFFFF;
}
.grid tr.even td {
        background: #000000;
}
.grid td a{
        color: #9C6539;
        text-decoration:underline;
}
.grid td a:hover {
        color: #000000;
}

.grid tr:nth-child(even) {background: #F8F8F8;}
.grid tr:nth-child(odd) {background: #F2F2F2; }

/* Grid view end */

/* Grid view Start */

.grid1 {
        background-color:#FFFFFF;
        width: 100%;
		float:left;
		margin-top:10px;
}
.grid1 th {
		/*background:#E4E3E3;
        background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #E4E3E3;
}
.grid1 th a{
        color: #003300;
        text-decoration: none;
}
.grid1 th a:hover{
        color: #003300;
        text-decoration: underline;
}
.grid1 td  {
        color: #333333;
        padding: 4px;
		border:1px solid #FFFFFF;
}
.grid1 tr.even td {
        background: #000000;
}
.grid1 td a{
        color: #0368A2;
        text-decoration:underline;
}
.grid1 td a:hover {
        color: #000000;
}

/*.grid tr:nth-child(even) {background: #F8F8F8;}
.grid tr:nth-child(odd) {background: #F2F2F2; }*/

/* Grid view end */


.submit_btn {
    /*background: url("../images/submitbtnBg.png") repeat-x scroll 0 0 transparent;*/
	border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color:#704F34;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    text-shadow: 1px 1px #224E82;
    width: auto;
	padding:0 15px 0 15px;
}

/* Form CSS End */

/* Footer CSS Start */

#footer{
	float:left;
	width:1200px;
	height:inherit;
}

.footerTop{
	float:left;
	width:100%;
	height:150px;
	background-color:#EFEEE9;
}

.visitors-cr-l {
    background-image: url("../images/visitors-cr-l.png");
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 8px;
}

.visitors-cr-c {
    background-image: url("../images/visitors-cr-c.png");
    background-position: center center;
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding: 0 3px;
}

.visitors-cr-r {
    background-image: url("../images/visitors-cr-r.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    width: 8px;
}

.copyrightTbl a {
    color: #9C6539;
    font-family: calibri,Arial,Verdana;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
}

.footerBottom{
	float:left;
	width:100%;
	height:50px;
	background-image:url(../images/bottomBg.gif);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#A59E8B;
}

.footerBottom_left{
	float:left;
	width:65%;
	margin-left:5%;
	line-height:25px;
	text-align:left;
	color:#FFFFFF;
}

.footerBottom_right{
	float:left;
	width:25%;
	margin-right:5%;
	line-height:50px;
	text-align:right;
	color:#FFFFFF;
}

#toTop {
    bottom: 10px;
    cursor: pointer;
    right: 10px;
}


/* Footer CSS End */


/* Grid (Admission Guidelines) view Start */

.gridGuide {
        background-color:#FFFFFF;
        width: 100%;
		float:left;
		margin-top:10px;
}
.gridGuide th {
		background:#E4E3E3;
        /*background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #FFFFFF;
}
.gridGuide th a{
        color: #9C6539;
        text-decoration: none;
}
.gridGuide th a:hover{
        color: #575757;
        text-decoration: underline;
}
.gridGuide td  {
        color: #6A6A6A;
        padding: 4px;
		/*border:1px solid #FFFFFF;*/
}
.gridGuide tr.even td {
        background: #000000;
}
.gridGuide td a{
        color: #9C6539;
        text-decoration:none;
}
.gridGuide td a:hover {
        color: #575757;
}

.gridGuide tr:nth-child(even) {background: #F8F8F8;}
.gridGuide tr:nth-child(odd) {background: #F2F2F2; }

/* Grid (Admission Guidelines) view end */


/* login Panel Start */

.loginPanel {
	width: 532px;
	min-height: 242px;
	background: #fff;
	border-radius: 3px;
	margin:50px 0 0 0;
}

.loginSection{
	float:left;
	width: 100%;
	min-height:inherit;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	margin-bottom:50px;
	min-height: 215px;
}

.login_head{
	float:left;
	width:100%;
	height:57px;
	background: url("../images/headBg.jpg") repeat-x scroll 0 0 transparent;
}

.login_row{
	float:left;
	width:100%;
}

.loginSection label {
	float:left;
	width:140px;
	text-align:left;
	color: #555;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
	line-height:35px;
}

.loginTxtbox {
	float:left;
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 10px;
	margin-left: 18px;
	width: 61%;
	height: 28px;
	line-height:28px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
	transition: all .4s ease;
}

.loginTxtbox:hover{
	border: 1px solid #b6bfc0;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

.loginTxtbox:focus{
	border: 1px solid #a8c9e4;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

.login_forgetpass{
	float:right;
	line-height:25px;
	height:25px;
	width:100%;
	text-align:right;	
}

.login_forgetpass a{
	text-decoration:none;
	color:#3B3B3B;
	text-align:right;	
	margin-right:18px;
}

#lower {
	float:left;
	background: #f8f8ff;
	width: 100%;
	height: 66px;
	margin-top: 5px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.loginfrm_loginbtn {
	float:right;
	margin:20px 10px 0 20px; 
    background: url("../images/login.gif") no-repeat scroll 0 0 transparent;
	background-repeat:repeat-x;
    width: 46px;
	height:22px;
	border: medium none;
	color: #FFFFFF;
    cursor: pointer;
	font-size:13px;
	font-weight:bold;
	border-radius: 3px 3px 3px 3px;
	text-decoration:none;
}

.loginfrm_cancelbtn {
	float:right;
	margin:20px 10px 0 20px; 
    background: url("../images/reset.gif") no-repeat scroll 0 0 transparent;
	background-repeat:repeat-x;
    width: 46px;
	height:22px;
	border: medium none;
	color: #FFFFFF;
    cursor: pointer;
	font-size:13px;
	font-weight:bold;
	border-radius: 3px 3px 3px 3px;
	text-decoration:none;
}

/* login Panel End */



.user_detail{
	float:left;
	width:100%;
	height:inherit;
	margin-top:10px;
	position:relative;
}

.user_detail_inner{
	float:left;
	width:98.8%;
	height:inherit;
	border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.user_head{
	float:left;
	width:100%;
	text-align:left;
	height:30px;
	line-height:30px;
	border-radius: 5px 5px 0 0;
	background-color:#704F34;
}

.user_icon{
	margin:8px 0 0 10px;
	width:10%;
	float:left;
}

.user_head_txt{
	float:left;
	width:70%;
	text-align:left;
	color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	line-height:27px;
	text-shadow: 1px 1px #224E82;
}

.userprofile_body{
	float:left;
	width:100%;
	height:inherit;
	text-align:left;
}

.userprofile_body_row{
	float:left;
	width:97%;
	line-height:25px;
	text-align:left;
	margin-left:3%;
	border-top: 1px dashed #D4D4D4;
}

.userprofile_body_row a{
	line-height:25px;
	text-align:left;
	text-decoration:none;
	color:#000000;
}

.userprofile_body_row a:hover{
	color:#666666;
}

.userprofile_body_img {
    color: #000000;
    float: left;
    line-height: 25px;
    margin-top: 9px;
    text-align: left;
    text-decoration: none;
    width: 6%;
}

.userprofile_body_col {
    color: #000000;
    float: left;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    width: 78%;
}

.userprofile_body_data {
    color: #000000;
    float: left;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    width: 7%;
}

.dash_message{
	float:left;
	width:100%;
	height:inherit;
}

.dash_message_inner{
	float:left;
	width:98.8%;
	height:inherit;
	margin-top:10px;
	border: 1px solid #CCCCCC;
	border-radius:8px 8px 4px 4px;
}

.message_head{
	float:left;
	width:216px;
	text-align:left;
	height:30px;
	line-height:30px;
	background-image: url("../images/dash_nav_bg.png");
	border-radius:7px 7px 0px 0px;
}

.message_icon{
	margin:7px 0 0 10px;
	width:10%;
	float:left;
}

.message_head_txt{
	float:left;
	width:70%;
	text-align:left;
	margin-left:10px; 
	color:#FFFFFF;
	font-size:13px;
	line-height:27px;
	text-shadow: 1px 1px #224E82;
	font-weight:bold;
}

.user_body{
	float:left;
	width:100%;
	height:inherit;
	text-align:left;
	border-radius:0px 0px 4px 4px;
}



#container_popup {
	float: left;
    height: 755px;
    width: 100%;
	background-image:url(../images/popbgblack.jpg);
}

#container_popup1 {
	float: left;
    height: 755px;
    width: 100%;
	background-image:url(../images/popbgblack1.jpg);
}



/* Grid view Start */

.grid_SummarizeForm {
        background-color:#FFFFFF;
        width: 100%;
		float:left;
		/*margin-top:10px;*/
}
.grid_SummarizeForm th {
		background:#E4E3E3;
        /*background: #7FAF1E;
        padding: 5px;*/
		border:1px solid #FFFFFF;
}
.grid_SummarizeForm th a{
        color: #003300;
        text-decoration: none;
}
.grid_SummarizeForm th a:hover{
        color: #003300;
        text-decoration: underline;
}
.grid_SummarizeForm td  {
        color: #333333;
        /*padding: 4px;*/
		border:1px solid #FFFFFF;
}
.grid_SummarizeForm tr.even td {
        background: #000000;
}
.grid_SummarizeForm td a{
        color: #0368A2;
        text-decoration:underline;
}
.grid_SummarizeForm td a:hover {
        color: #000000;
}

.grid_SummarizeForm tr:nth-child(even) {background: #F8F8F8;}
.grid_SummarizeForm tr:nth-child(odd) {background: #F2F2F2; }

/* Grid view end */


h2{
	color:#64462E;	
	margin:0px;
	padding:0px;
}

h3{
	color:#565656;	
	margin:0px;
	padding:0px;
}

.containerBody_Rowleft1 {
    color: #575757;
    display: inline;
    float: left;
    line-height: 30px;
    padding-left: 20%;
    text-align: left;
    width: 27%;
}

.ajax__calendar *
{
    line-height: 16px !important;
}
.meritgridview{
    float: left;
    
    width: 100%;
}

.meritgridGuide {
        background-color:#FFFFFF;
        width: 100%;
		float:left;
}
.meritgridGuide th {
		background:#E4E3E3;
        /*background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #FFFFFF;
}
.meritgridGuide th a{
        color: #9C6539;
        text-decoration: none;
}
.meritgridGuide th a:hover{
        color: #575757;
        text-decoration: underline;
}
.meritgridGuide td  {
        color: #6A6A6A;
        padding: 4px;
		border:1px solid #FFFFFF;
}
.meritgridGuide tr.even td {
        background: #000000;
}
.meritgridGuide td a{
        color: #9C6539;
        text-decoration:none;
}
.meritgridGuide td a:hover {
        color: #575757;
}

.meritgridGuide tr:nth-child(even) {background: #F8F8F8;}
.meritgridGuide tr:nth-child(odd) {background: #F2F2F2; }


.meritgridGuideOdd tr{
    background: #F2F2F2;
}

.meritgridGuideOdd th {
		background:#E4E3E3;
        /*background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #FFFFFF;
}
.meritgridGuideOdd th a{
        color: #9C6539;
        text-decoration: none;
}
.meritgridGuideOdd th a:hover{
        color: #575757;
        text-decoration: underline;
}
.meritgridGuideOdd td  {
        color: #6A6A6A;
        padding: 4px;
		border:1px solid #FFFFFF;
}

.meritgridGuideOdd td a{
        color: #9C6539;
        text-decoration: none;
}
.meritgridGuideEven tr{
    background: #F8F8F8;
}

.meritgridGuideEven th {
		background:#E4E3E3;
        /*background: #7FAF1E;*/
        padding: 5px;
		border:1px solid #FFFFFF;
}
.meritgridGuideEven th a{
        color: #9C6539;
        text-decoration: none;
}
.meritgridGuideEven th a:hover{
        color: #575757;
        text-decoration: underline;
}
.meritgridGuideEven td  {
        color: #6A6A6A;
        padding: 4px;
		border:1px solid #FFFFFF;
}

.meritgridGuideEven td a{
        color: #9C6539;
        text-decoration: none;
}

.ui-datepicker-trigger{
    margin-left:5px;
    vertical-align:text-top;
}

.captchabtn{
    background-image: url(../images/Refresh.png);
    height: 28px;
    width: 28px;
    background-size: contain;
    background-color: transparent;
    border: 0;
}

.capthaimg{
    height: 28px;
    width: 80px;
    float: left;
}

.validationrow ul li
{
    list-style-type:none;    
}


/*------------------------------------------------------ Pagination CSS -----------------*/

.pageselected {
    background: none repeat scroll 0 0 #61543B !important;
    border: 0px solid #006E97 !important;
    color: #FFFFFF !important;
    font-weight: bold;
    padding: 2px 4px !important;
}

.pagination {
    float: right;
    font-size: 14px;
    margin: 0 auto;
    padding:5px 0 0 0;
    text-decoration: none;
}
.pagination a {
    border: 0px solid #006E97;
    color:Black;
    font-size: 14px;
    padding: 2px 4px;
    text-decoration: none;
}
.pagination a:hover {
    background: none repeat scroll 0 0 #61543B;
    border:0px solid #006E97;
    color:#FFFFFF;
    padding: 2px 4px;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/


/* Grid view Start */

.gridviewReport {
        background-color:#61543B;
        width: 100% !important;
		float:left;
		margin-top:10px;
}
.gridviewReport th {
        background: #61543B;
        padding: 5px;
		color:white;
		border:1px solid #FFFFFF;
}
.gridviewReport th a{
        color: #003300;
        text-decoration: none;
}
.gridviewReport th a:hover{
        color: #003300;
        text-decoration: underline;
}
.gridviewReport td  {
        color: #333333;
        font-size:12px;
        /*padding: 4px;*/
		/*border:1px solid #FFFFFF; */
}
.gridviewReport tr.even td {
        background: #000000;
}
.gridviewReport td a{
        color: #0368A2;
        text-decoration:underline;
}
.gridviewReport td a:hover {
        color: #000000;
}

.gridviewReport tr:nth-child(even) {background: #F8F8F8}
.gridviewReport tr:nth-child(odd) {background: #E6E4E4}

/* Grid view end */


/*-----------------------------------------------------------------------------------*/
.tbl_body_row1
{
    float: left;
    width: 100%;
    line-height: 10px;
    color: #725616;
    display: inline;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
}

.tbl_body_row
{
    float: left;
    width: 100%;
    line-height: 30px;
    color: #725616;
    display: inline;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
    text-decoration: none;
}

.validationrow{
    float: left;
    width: 100%;
    /*line-height: 20px;*/
    background-color: white; /* margin: 1% 0 1% 0; border:1px solid #CCCCCC;*/
    text-align: left;
    /*color: #FF0000;*/
}

.validationRowInner{
    float: left;
    width: 98%;
    margin:1%;
    line-height: 20px;
    background-color: #f6dea3;
    border-radius: 4px;
    text-align: left;
    color: #FF0000;
}

.conright_body
{
    float: left;
    width: 100%;
    height: inherit;
}
.tbl_body_left
{
    color: #565656;
    display: inline;
    float: left;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
    line-height: 30px;
    padding-left: 14%;
    text-align: left;
    width: 32%;
}

.tbl_body_right
{
    float: left;
    width: 49%;
    margin-left: 3%;
    line-height: 30px;
    color: #725616;
    display: inline;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
    text-align: left;
}

.validation_left
{
    float: left;
    width: 57%;
    line-height: 30px;
    color: #725616;
    display: inline;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
}

.validation_right
{
    float: left;
    width: 50%;
    line-height: 30px;
    color: #725616;
    display: inline;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
}

.filter_col
{
    color: #565656;
    float: left;
    font-family: Calibri,Verdana,Arial;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    width: 49.8%;
}

.filter_Col_Span
{
    float: left;
    width: 100px;
}

.star
{
    color: #FF0000;
}

.selectbox_auto
{
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    width: auto; /*background-color:#E3EDF5;*/
    border: 1px solid #CCCCCC;
    color: #565656;
    margin-top: 3px;
    height: 20px;
    font-family: DroidSansRegular, "Lucida Sans Unicode" , "Lucida Grande" ,sans-serif;
}

.input_cal
{
    border: 1px solid #CCCCCC;
    color: #565656;
    font-size: 12px;
    margin-top: 5px;
    width: 200px;
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding-left: 5px;
}

 .calCss
{
    border: solid 1px #000000;
    color: #000000;
    background-color: #E6E4E4;
    line-height: 20px;
}


  .ajax__calendar_invalid 
  { 
      text-decoration: line-through; cursor:pointer;
  }

.admin_txtbox
{
    border: 1px solid #CCCCCC;
    color: #565656;
    font-size: 12px;
    margin-top: 5px;
    width: 230px;
    height: 18px;
    padding-left: 5px;
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}

.admin_txtboxmultiline
{
    border: 1px solid #CCCCCC;
    color: #565656;
    font-size: 12px;
    margin-top: 5px;
    width: 230px;
    height: 100px;
    padding-left: 5px;
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}

.user_category_combo
{
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
    width: 237px; /*background-color:#E3EDF5;*/
    border: 1px solid #CCCCCC;
    color: #565656;
    margin-top: 5px;
    height: 20px;
   font-family: DroidSansRegular, "Lucida Sans Unicode" , "Lucida Grande" ,sans-serif;
}

.inputHindiTxt
{
    font-family: 'devLys 010';
    font-size: 16px;
    border: 1px solid #CCCCCC;
    color: #565656;
    margin-top: 5px;
    width: 230px;
    padding-left: 5px;
    box-shadow: 1px 1px 3px #CCCCCC;
    border-radius: 3px 3px 3px 3px;
}

.hindiTxt
{
    font-family: 'devLys 010';
    font-size: 16px;
    color: #565656;
    margin-top: 5px;
    width: 230px;
    padding-left: 5px;
}


.tbl_main{
	float:left;
	width:99.8%;
	height:inherit;
	border:1px solid #61543B; 
}

.tbl_head{
	float:left;
	width:100%;
	line-height:25px;
	text-align:left;
	background-color:#61543B;
}

.tbl_head_txt{
	color: #FFFFFF;
    font-family: Calibri,Arial,Verdana;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
	margin-left:10px;
}

fieldset {
    float: left;
    margin:1%;
    width: 98%;
	padding:0px;
	border:1px solid #F5F5F5;
}

legend {
	float:left;
	width:96%;
	margin: 1%;
    padding: 0 1%;
    background: none repeat scroll 0 0 #61543b;
    border:1px solid #CFBF97;
    color: #FFFFFF;
    font:17px/21px Calibri,Arial,Helvetica,sans-serif;
	line-height:25px;
	text-align:left;	
}



.tbl_body_row a{
	text-decoration:none;
}

.tbl_body_txt{
	line-height:20px;
	color: #343434;
    font-size:12px;
	text-align:justify;
	margin:0px 10px 0 10px;
}

.tbl_body_row{
	float:left;
	width:100%;
	line-height:30px;
	color: #725616;
    display: inline;
    font-size:14px;
	text-decoration:none;
}
.tbl_body_left{
	color: #565656;
    display: inline;
    float: left;
    font-size: 14px;
    line-height: 30px;
    padding-left: 14%;
    text-align: left;
    width: 32%;
}

.tbl_body_right{
	float:left;
	width:49%;
	margin-left:3%;
	line-height:30px;
	color: #565656;
    display: inline;
    font-size:14px;
}
