*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.main{
    background : url(../images/building.jpg);
    width: 100%;
    height: 100vh;
    
}
.containt{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.7);
}
.title{
    font-size: 44px;
    margin-top: 10px;
    color: white;
    text-align: center;
}
.row{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color: white;
}
.input{
    width: 50%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}