.bar{
    width: 500px;
    height: 300px;
    background-color: rgb(234, 234, 245);
    position: fixed;
    right: -900px;
    top: 30px;
    /* transform: translate(-50%, -50%); */
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.bar span{
    position: absolute;
    font-size: 35px;
    /* top: 10px; */
    right: 10px;
    cursor: pointer;
    
}
.showbar{
    right: 50px;
}
.click{
    position: fixed;
    top: 20px;
    right: 90px;
    padding: 10px 20px;
    /* background-color: rgb(24, 19, 21); */
    color: rgb(20, 18, 18);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.bar h2 {
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 20px;
}

.bar ul {
    list-style: none;
    padding: 20px;
}

.bar ul li {
    margin: 15px 0;
}

.bar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}